
<% if @book.errors.any? %>
  <%= @book.errors.count %>件のエラーが発生しました
  <% @book.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>

<body calss="edit-home">
<%= form_with model:@book, local: true do |f| %>

<h1>Editing Book</h1>

  <div class="field">
  <div class="book_title">
 Title</div>
  <div class="title">
 <%= f.text_field :title %>
</div>
</div>

<div class="field">
  <div class="book_body">
  Body</div>
  <div class="body">
  <%= f.text_area :body %>
  </div>
  </div>

<div class="action">
  <div class="submit">
  <%= f.submit 'Update Book' %>
<% end %>
 </div>
  </div>

<td class="show">
<%= link_to "Show", book_path(@book) %>
</tb>
|
<td class="Back">
<%= link_to "Back", books_path %>
</tb>
</div>
</body>